/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';

.featured-article {
    background-color: #000;
    position: relative;
    width: 640px;
    height: 360px;
}
.featured-article iframe {
    width: 100%;
    height: 100%;
    position: absolute;
}
.list-group-item.active a {
    color: #fff;
}