<!------ Include the above in your HEAD tag ---------->
<div class="container">
	<div class="row">
			<div class="col-md-4"><h1 [innerHtml]="currentChapter"></h1></div>
			<div class="col-md-8"><h2 [innerHtml]="currentLesson"></h2></div>
			<div class="col-md-12"><h3 [innerHtml]="currentVideoName"></h3></div>    
	</div>
  <div class="row">
	<div class="col-md-7 col-lg-7">
		<div class="featured-article">
			<div id="myVideo"></div>
			<div *ngIf="currentVideo != ''; then showIframe else showEmptyFrame"></div>
			<ng-template #showIframe>
				<iframe [src]="currentVideo" id="video_player" width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
			</ng-template>
			<ng-template #showEmptyFrame>
				<iframe width="640" height="360" frameborder="0" id="video_player" allow="autoplay; fullscreen" allowfullscreen></iframe>
			</ng-template>
		</div>
	</div>
	<div class="col-md-5 col-lg-5">
		<ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0" [closeOthers]="true">
		  <ngb-panel *ngFor="let book of bookList" title="{{book.name}}" > <!-- id="toggle-{{book.slug}}" -->
		    <ng-template ngbPanelContent>
		      <ul class="list-group checked-list-box" *ngIf="book.lesson.length > 0">
		        <li class="list-group-item" [ngClass]="{'active':lesson.is_completed === true}" *ngFor="let lesson of book.lesson" id="lesson_block_{{lesson.slug}}">
		        	<div class="lesson_box">
		        		<div class="row">
		        			<div class="col-md-1">
		        				<input type="checkbox" disabled="" class="checkbox" [checked]="lesson.is_completed">
		        			</div>
		        			<div class="col-md-11">
		        				<!--  
		        					[routerLink]="['/video-player', book.slug, lesson.slug]" [queryParams]="{ video: lesson.slug}"
											 (click)="playVideo($event, book.name, lesson)"
		        					 -->
		        				<a href="/video-player/{{book.slug}}/{{lesson.slug}}">
			        				<div [innerHtml]="lesson.name"></div>
			        				<div [innerHtml]="lesson.time_to_read"></div>
			        			</a>
		        			</div>
		        		</div>
		        	</div>
		        </li>
		      </ul>
		    </ng-template>
		  </ngb-panel>
		</ngb-accordion>
	</div>
</div>
